* {border: solid red 1px; box-sizing: border-box;} /*border-box maintains width on elements for padding, margin */


:root {
  --primaryColor:rgb(5, 5, 5);
  --fontColor:rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  color: var(--fontColor);
  align-items: center;
  height: 300vh;
  width: 100%;
  margin: 0%;
  background-color: var(--primaryColor);
}

body:hover {
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 90%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /*use a minmax upon mobile media*/
  grid-template-rows: repeat(100, 1fr);
}

a {
  text-decoration: none; 
  color: var(--fontColor);
}

#headerContainer, #introductionContainer, #projectsContainer {
  grid-column: span 10;
}

#headerContainer {
  grid-row: 1/5;
  margin: 0%;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(4,1fr);
}

#headertxt, #gitLogo, #pageLinks {
  grid-row: 2/3;
}

#headertxt {
  grid-column: 2/6;
  display: flex;
  justify-content: center;
}

#gitLogo {
  grid-column: 8/9;
  display: flex;
  justify-content: center;
  align-items: center;
}



#logo {
  width: 50px;
  height: auto;
}

#pageLinks {
  grid-column: 14/19;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

#introductionContainer {
  grid-row: 5/30;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr); 
}

#introductionTxtContainer {
  grid-column: 2/span 3;
  grid-row: 2/8;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  animation-duration: 2s;
  animation-name: font-ease;  
}

h2 {
  grid-row: 1/2;
  grid-column: span 11;
}

#introTxt {
  grid-column: span 11;
  grid-row: 2/10;
}

#imageContainer {
  grid-column: 6/10;
  grid-row: 2/8;
  background-image: url('images/citylights.jpg');
  background-size: cover;
  animation-duration: 2s;
  animation-name: font-ease;  
  
}

#skillsContainer {
  grid-column: 3/9;
  grid-row: 30/40;
  display: flex;
}

#skillL {
  animation-duration: 2s;
  animation-name: slide-in-alt, font-ease;
}

#skillR {
  animation-duration: 2s;
  animation-name: slide-in, font-ease;  
}

.skill {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillLogo {
  width: 100px;
  height: auto;
}

#projectsContainer {
  grid-row: 40/101;
  margin: 0%;
}

footer {
  width: 90%;
  height: 5%;
}

h1 {
  animation-duration: 2s;
  animation-name: slide-in, font-ease;
}

#pageLinks {
  animation-duration: 2s;
  animation-name: slide-in-alt;
}

a {
  animation-duration: 2s;
  animation-name: font-ease;
}

@keyframes font-ease {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes slide-in {
  from {
    translate: -10%;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes slide-in-alt {
  from {
    translate: 10%;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* minimize */ 
@media (max-width: 1200px) {
  #imageContainer {
    grid-column: 5/10;
    grid-row: 2/8;
    z-index: -1;
    animation-duration: 1s;
    animation-name: slide-in-alt;
  }

  #introductionTxtContainer {
    grid-column: 2/6;
    grid-row: 2/8;
    animation-duration: 1s;
    animation-name: slide-in;
  }

  #pageLinks {
    justify-content: space-between;
    grid-column: 12/19;
  }
}


/* tablet */
@media (max-width: 850px) {
  body {
  height: 400vh;
  }
  h1 {
    font-size: 1rem;
    align-self: center;
  }
  footer {
    height: 4%;
  }

  main {
    height: 96%;
  }

  #headertxt, #gitLogo, #pageLinks {
    grid-row: span 4;
  }

  #headerContainer {
    grid-row: 1/4;
  }


  #introductionContainer {
    grid-row: 4/25;
  }

  #skillsContainer {
    grid-row: 25/40;
    flex-direction: column;
  }

  .skillLogo {
    width: 30%;
  }

  #pageLinks {
    font-size: 0.75rem;
  }

  #logo {
    width: 35px;
  }

  #imageContainer {
    grid-column: 1/11;
    grid-row: 4/11;
    z-index: -1;
    animation-duration: 0.5s;
    animation-name: font-ease;  
  }

  #introductionTxtContainer {
    grid-column: 2/10;
    grid-row: 1/6;
  }


}

/* mobile */ 
@media (max-width: 550px) {

  body {
  height: 500vh;
  }

  h1 {
    grid-row: 1/3;
  }
  footer {
    height: 3%;
  }

  main {
    height: 97%;
  }

  #headertxt, #gitLogo, #pageLinks {
    grid-row: span 4;
  }  

  #headerContainer {
    grid-row: 1/3;
  }

  
  #introductionContainer {
    grid-row: 3/20;
  }

  #introductionTxtContainer {
    grid-column: 2/10;
    grid-row: 1/6;
  }

  #imageContainer {
    grid-column: 1/11;
    grid-row: 4/11;
    z-index: -1;
  }

  #skillsContainer {
    grid-row: 20/30;
  }

  #projectsContainer {
  grid-row: 30/101;
  }

  #pageLinks {
    font-size: 0.60rem;
  }

  #logo {
    width: 30px;
  }
}



