* {border: solid red 1px; box-sizing: border-box;} /*border-box maintains width on elements for padding, margin */


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300vh;
  width: 100%;
  margin: 0%;
}

main {
  width: 90%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /*use a minmax upon mobile media*/
  grid-template-rows: repeat(100, 1fr);
}

h1, #introductionContainer, #skillsContainer, #projectsContainer {
  grid-column: span 10;
}

h1 {
  grid-row: 1/5;
  margin: 0%;
}

#introductionContainer {
  grid-row: 5/30;
}

#skillsContainer {
  grid-row: 30/40;
}

#projectsContainer {
  grid-row: 40/101;
  margin: 0%;
}

footer {
  width: 90%;
  height: 5%;
}


/* tablet */
@media (max-width: 800px) {
  h1 {
    grid-row: 1/4;
  }
  footer {
    height: 4%;
  }

  main {
    height: 96%;
  }

  #introductionContainer {
    grid-row: 4/30;
  }

}

/* mobile */ 
@media (max-width: 550px) {
  h1 {
    grid-row: 1/3;
  }
  footer {
    height: 3%;
  }

  main {
    height: 97%;
  }
  
  #introductionContainer {
    grid-row: 3/30;
  }
}



